:root {
  font: 16px / 1 sans-serif;

  // Wip Stitch brand colors
  --smoky-black: #110803;
  --white: #fff;
  --princeton-orange: #ff7f23;
  --burnt-orange: #b65721;
  --blue-sapphire: #0b4b6c;
  --pale-cerulean: #a5c4d4;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a,
a:visited {
  color: var(--smoky-black);
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--princeton-orange);
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Header

header {
  background-color: var(--pale-cerulean);
}

.sign-up {
  text-align: center;
  background-color: #fff;
  font-size: xx-large;
}

.logo {
  float: left;
  position: relative;
  margin: 15px;
}

nav {
  float: right;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  display: block;
  color: var(--smoky-black);
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

nav li a:hover {
  color: var(--white);
}

@media screen and (max-width: 600px) {
  nav li.right,
  nav li {
    float: none;
  }
}

// Footer
footer {
  text-align: center;
}

main {
  flex: 1;
  margin: 50px;
}
